body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.game-image {
  width: 100%;
}

.image-container {
  position: relative;
  z-index: 0;
  display: flex;
}

.square {
  position: absolute;
  padding: 3%;
  height: 1px;
  width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  background-color: #202127;
  padding-left: 50px;
  height: 100px;
  position: sticky !important;
  top: 0px;
  z-index: 1;
}

.centered {
  justify-content: center;
  padding-left: 0px;
}

.option-image {
  max-height: 80px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.character-container {
  display: flex;
  justify-content: center;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.difficulty {
  position: absolute;
  top: 80%;
  border-radius: 5px;
  background-color: #800101ba;
  padding: 0px 10px;
  color: white;
}

.found {
  opacity: 0.3;
}

.check-circle {
  position: absolute;
  color: #05ff05;
  top: 30%;
}

.credit {
  position: absolute;
  padding: 10px;
  background-color: #ffffff80;
  border-radius: 3px;
  z-index: 1;
}

.modal-container {
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 20px;
}

.leader-board-container {
  display: flex;
  gap: 20px;
  flex-direction: column-reverse;
}

form {
  display: flex;
  gap: 10px;
}

table,
td,
th {
  border: 0.5px solid white;
  border-collapse: collapse;
  padding: 5px;
}

table {
  text-align: center;
  width: 100%;
}

.endGameBtn {
  position: fixed;
  left: 50%;
  bottom: 7%;
  width: 100px;
  margin-left: -50px;

}

.endGameBtn>button {
  background-color: white;
  border: none;
  opacity: 0.8;
}

.endGameBtn>button:hover {
  box-shadow: 5px 4px 8px black;
  background-color: white;
  opacity: 1;
}

button {
  cursor: pointer;
}

.newGameBtn,
.optionsBtn {
  background-color: #05ff05;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.optionsBtn {
  background-color: #202124;
  border: 1.5px solid #05ff05;
  color: white;
  margin-right: 20px;
}

.newGameBtn:hover,
.optionsBtn:hover {
  box-shadow: 5px 4px 8px black;
}

.modeOptions {
  display: flex;
  align-items: center;
}

h4,
p {
  margin: 0px;
}

h2,
h3 {
  margin-top: 0px;
}

.preview-image {
  max-width: 80%;
}

.image-selected {
  border: 2px solid #05ff05;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(255, 255, 255);
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.previews-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.preview-image-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 385px) {
  form {
    flex-direction: column;
  }
}