body {
  margin: 0
}

.game-image {
  width: 100%;
}


.image-container {
  position: relative;
}

.square {
  background-color: rgb(255 255 255 / 46%);
  border: 3px dashed black;
  border-radius: 10px;
  position: absolute;
  padding: 3%;
  height: 1px;
  width: 1px;
}