body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.game-image {
  width: 100%;
}


.image-container {
  position: relative;
  z-index: 0;
}

.square {
  position: absolute;
  padding: 3%;
  height: 1px;
  width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  background-color: #202127;
  padding-left: 50px;
  height: 100px;
  position: sticky !important;
  top: 0px;
  z-index: 1;
}

.option-image {
  max-height: 80px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.character-container {
  display: flex;
  justify-content: center;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.difficulty {
  position: absolute;
  top: 80%;
  border-radius: 5px;
  background-color: #800101ba;
  padding: 0px 10px;
  color: white;
}

.found {
  opacity: 0.3;
}

.check-circle {
  position: absolute;
  color: #05ff05;
  top: 30%;
}

.credit {
  position: absolute;
  padding: 10px;
  background-color: #ffffff80;
  border-radius: 3px;
}